.stack {
    width: 100px;
    height: 140px;
    border: 1px solid black;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  #stock {
    top: 10px;
    left: 720px;
  }
  
  #waste {
    top: 10px;
    left: 830px;
  }
  
  .card {
    width: 100px;
    height: 140px;
    border: 1px solid black;
    position: absolute;
  }
  
  .face-down {
    background-color: blue;
  }
  
  .face-up {
    background-color: white;
  }
  